.content-enter-active {
  transition: margin 800ms;
}

.content-exit {
  margin-left: 230px;
}

.content-exit-active {
  transition: margin 800ms ease;
  transition-delay: 00ms;
}

.content-enter-done {
  margin-left: 230px;
}
