.content-enter {
  transform: translateY(-10px);
}

.content-enter-active {
  transform: translateY(0px);
  margin-left: 270px;
  transition: all 800ms;
  transition-delay: 320ms;
}

.content-exit {
  margin-left: 270px;
  margin-top: 0px;
}

.content-exit-active {
  transform: translateY(0px);
  margin-left: 0px;
  /* margin-top: -30px; */
  transition: margin 800ms ;
  /* transition-delay: 300ms; */
}

.content-enter-done {
  margin-left: 270px;
  /* margin-top: 10px; */
  /* transition: all 300ms; */
}
