.content-enter-active {
  margin-left: 190px;
  transition: margin 800ms;
}

.content-exit {
  margin-left: 190px;
}

.content-exit-active {
  margin-left: 0px;

  transition: margin 800ms ease;
  transition-delay: 00ms;
}
