.backdrop-enter {
    opacity: 0;
    /* transition: opacity 500ms; */
}
.backdrop-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

/* .backdrop-exit {
    opacity: 1;
    transition: opacity 700ms;
} */
.backdrop-exit-active {
    opacity: 0;
    transition: opacity 700ms;
    transition-delay: 400ms;

}