.sidebar-enter {
  opacity: 0;
}

.sidebar-enter-active {
  opacity: 1;
  transition: opacity 800ms;
  transition-delay: 550ms;
}

.sidebar-exit {
  opacity: 1;
}

.sidebar-exit-active {
  opacity: 0;
  transition: opacity 700ms;
}
