.menutop-enter {
    opacity: 1;
    transform: translateY(-100px);
    height: 0;
  }
  .menutop-enter-active {
    opacity: 1;
    transform: translateY(0);
    height: 80px;
    transition: all 800ms;
    transition-delay: 750ms;
  }
  .menutop-exit {
    height: 80px;
    opacity: 1;
    transform: translateY(0px);
  }
  .menutop-exit-active {
    /* opacity: 0; */
    height: 0;
    /* margin-top: -px; */
    transform: translateY(-200px);
    transition: all 500ms ease-in-out;
    /* transition-delay: 300ms;  */
  }
  
  .sidebar-enter {
    /* min-width: 0; */
    /* max-width: 0; */
    width: 0px;
  }
  .sidebar-enter-active {
    /* opacity: 1; */
    /* min-width: 220px; */
    width: 21.6rem;
    /* transform: translateY(); */
    transition: all 800ms;
    transition-delay: 500ms;
  }
  .sidebar-exit {
    width: 21.6rem;

  }
  .sidebar-exit-active {
    width: 0px;
    transition: all 1000ms;
    /* transition-delay: 300ms;  */
  }